@import url(https://unpkg.com/picnic@6.5.0/picnic.min.css);
@import url(https://unpkg.com/@fortawesome/fontawesome-free@5/css/all.min.css);
@keyframes fadein {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes minify {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}

* {
  scroll-behavior: smooth;
}

html {
  font-size: calc(1em + 1vw);
}

body {
  font-size: 1rem;
}

body > .spinner,
body.loading > :not(.spinner) {
  opacity: 0;
  animation: 1s fadeout;
}

body > .spinner {
  z-index: 1000;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  opacity: 0;
  animation: 1s fadeout, 2s minify;
  transition: opacity 1s;
}

body > :not(.spinner),
body.loading > .spinner {
  opacity: 1;
  animation: 1s fadein;
}

main > article {
  opacity: 1;
  transition: none;
  position: absolute;
  animation: 1s fadein;
  width: 92%;
  margin: auto 2%;
}

main > article:not(:target):not(#home),
main > article:target ~ #home {
  opacity: 0;
  animation: 1s fadeout;
}

.navfix {
  height: 4em;
}

.pill {
  max-width: 100%;
}
